.container {
    width: 40%;
    height: 20%;
    background-color: cadetblue;
    padding: 2%;
    text-align: center;
}

input {
    padding: 0.6rem;
    margin: 1rem;
    border-radius: 2rem;
    width: 80%;
    text-align: center;
    border: none;
}

.invalid {
    border: tomato;
    border-radius: 2rem;
    border-style: groove;
}

.valid {
    border: rgb(108, 255, 71);
    border-radius: 2rem;
    border-style: groove;
}